@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.post-it {
    background:#fefabc;
    padding: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: "Lucida Console", Monaco, monospace;
    font-family: "Architects Daughter";
    font-family: "Shadows Into Light Two";
    font-family: "Gloria Hallelujah";

    font-size: 18px;
    line-height: 1.3em;

    color: #000;
    width: 320px;

    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);

    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
}

.post-it-top-right {
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 999;
}