
.graph .itemset {
    position: absolute;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.graph .background {
}

.graph .foreground {
}

.graph .itemset-axis {
    position: absolute;
}

.graph .groupset .itemset-axis {
    border-top: 1px solid #bfbfbf;
}

/* TODO: with orientation=='bottom', this will more or less overlap with timeline axis
.graph .groupset .itemset-axis:last-child {
    border-top: none;
}
*/
