body {
  font: 10pt sans;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
}

form {
  margin: 10px;
  display: flex;
}

div.form-elements {
  display: flex;
  flex-direction: row;
}

label {
  margin-right: 10px;
}

input {
  max-width: 50px;
}

button {
  margin-left: 10px;
}

.top-right {
  margin: 10px;
}

div.bottom {
}

#mynetwork {
  width: 600px;
  height: 600px;
  border: 1px solid lightgray;
}
