/*
  Note: .vis.timeline.root may not have transitions, else its height cannot be
  determined (depends on autoHeight, css height, css minHeight, and css maxHeight)
*/
/*.vis.timeline.root,*/
.vis.timeline .axis,
.vis.timeline .vispanel.center,
.vis.timeline .vispanel.left,
.vis.timeline .vispanel.right,
.vis.timeline .vispanel.bottom {
  -webkit-transition: height .4s ease-in-out, top .4s ease-in-out;
  transition:         height .4s ease-in-out, top .4s ease-in-out;
}

.vis.timeline .vispanel .itemset .group,
.vis.timeline .vispanel .labelset .vlabel {
  -webkit-transition: height .4s ease-in-out;
  transition:         height .4s ease-in-out;
}

.vis.timeline .item {
  -webkit-transition: top .4s ease-in-out;
  transition:         top .4s ease-in-out;
}

.vis.timeline .item.line {
  -webkit-transition: height .4s ease-in-out, top .4s ease-in-out;
  transition:         height .4s ease-in-out, top .4s ease-in-out;
}
