
.vis.timeline .groupset {
  position: relative;
  padding: 0;
  margin: 0;
}

.vis.timeline .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  border-right: 1px solid #bfbfbf;
}

.vis.timeline .labels .label-set {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  overflow: hidden;

  border-top: none;
  border-bottom: 1px solid #bfbfbf;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vis.timeline .labels .label-set .vlabel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #4d4d4d;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vis.timeline.top .labels .label-set .vlabel,
.vis.timeline.top .groupset .itemset .axis {
  border-top: 1px solid #bfbfbf;
  border-bottom: none;
}

.vis.timeline.bottom .labels .label-set .vlabel,
.vis.timeline.bottom .groupset .itemset .axis {
  border-top: none;
  border-bottom: 1px solid #bfbfbf;
}

.vis.timeline .labels .label-set .vlabel .inner {
  display: inline-block;
  padding: 5px;
}
