
.vis.timeline .labelset {
  position: relative;
  width: 100%;

  overflow: hidden;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vis.timeline .labelset .vlabel {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  color: #4d4d4d;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vis.timeline.bottom .labelset .vlabel,
.vis.timeline.top .vpanel.side-content,
.vis.timeline.top .groupset .itemset {
  border-top: 1px solid #bfbfbf;
  border-bottom: none;
}

.vis.timeline.top .labelset .vlabel,
.vis.timeline.bottom .vpanel.side-content,
.vis.timeline.bottom .groupset .itemset {
  border-top: none;
  border-bottom: 1px solid #bfbfbf;
}

.vis.timeline .labelset .vlabel .inner {
  display: inline-block;
  padding: 5px;
}
