
.vis.timeline .item {
  position: absolute;
  color: #1A1A1A;
  border-color: #97B0F8;
  background-color: #D5DDF6;
  display: inline-block;
  padding: 5px;
}

.vis.timeline .item.selected {
  border-color: #FFC200;
  background-color: #FFF785;
  z-index: 999;
}

.vis.timeline.editable .item.selected {
  cursor: move;
}

.vis.timeline .item.point.selected {
  background-color: #FFF785;
  z-index: 999;
}
.vis.timeline .item.point.selected .dot {
  border-color: #FFC200;
}

.vis.timeline .item.cluster {
  /* TODO: use another color or pattern? */
  background: #97B0F8 url('img/cluster_bg.png');
  color: white;
}
.vis.timeline .item.cluster.point {
  border-color: #D5DDF6;
}

.vis.timeline .item.box {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

.vis.timeline .item.point {
  background: none;
}

.vis.timeline .dot {
  padding: 0;
  border: 5px solid #97B0F8;
  position: absolute;
  border-radius: 5px;
  -moz-border-radius: 5px;  /* For Firefox 3.6 and older */
}

.vis.timeline .item.range {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
  box-sizing: border-box;
}

.vis.timeline .item.rangeoverflow {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
  box-sizing: border-box;
}

.vis.timeline .item.range .content,
.vis.timeline .item.rangeoverflow .content {
  position: relative;
  display: inline-block;
}

.vis.timeline .item.line {
  padding: 0;
  position: absolute;
  width: 0;
  border-left-width: 1px;
  border-left-style: solid;
}

.vis.timeline .item .content {
  white-space: nowrap;
  overflow: hidden;
}

.vis.timeline .item.range .content {
  width: 100%;
}

.vis.timeline .item .delete {
  background: url('img/timeline/delete.png') no-repeat top center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: -24px;
  cursor: pointer;
}

.vis.timeline .item.range .drag-left,
.vis.timeline .item.rangeoverflow .drag-left {
  position: absolute;
  width: 24px;
  height: 100%;
  top: 0;
  left: -4px;

  cursor: w-resize;
  z-index: 10000;
}

.vis.timeline .item.range .drag-right,
.vis.timeline .item.rangeoverflow .drag-right {
  position: absolute;
  width: 24px;
  height: 100%;
  top: 0;
  right: -4px;

  cursor: e-resize;
  z-index: 10001; /* a little higher z-index than .drag-left */
}
