
.vis.timeline .itemset {
  position: relative;
  padding: 0;
  margin: 0;

  /* FIXME: get transoition working for rootpanel and itemset
  -webkit-transition: height .4s ease-in-out;
  transition:         height .4s ease-in-out;
  */
}

.vis.timeline .background {
}

.vis.timeline .foreground {
}

.vis.timeline .axis {
  position: absolute;
}
