
.vis.timeline .itemset {
  position: relative;
  padding: 0;
  margin: 0;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* FIXME: get transition working for rootpanel and itemset
  -webkit-transition: height 4s ease-in-out;
  transition:         height 4s ease-in-out;
  /**/
}

.vis.timeline .background {
}

.vis.timeline .foreground {
}

.vis.timeline .axis {
  overflow: visible;
}

.vis.timeline  .group {
  position: relative;
}

.vis.timeline.top .group {
  border-top: 1px solid #bfbfbf;
  border-bottom: none;
}

.vis.timeline.bottom .group {
  border-top: none;
  border-bottom: 1px solid #bfbfbf;
}
