
.vis.timeline.root {
  position: relative;
  border: 1px solid #bfbfbf;

  overflow: hidden;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.vis.timeline .vispanel {
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.vis.timeline .vispanel.left,
.vis.timeline .vispanel.right,
.vis.timeline .vispanel.top,
.vis.timeline .vispanel.bottom {
  border: 1px solid #bfbfbf;
}

.vis.timeline .vispanel.left {
  border-left: none;
}

.vis.timeline .vispanel.right {
  border-right: none;
}

.vis.timeline .vispanel.top {
  border-top: none;
}

.vis.timeline .vispanel.bottom {
  border-bottom: none;
}
