
.vis.timeline.rootpanel {
  position: relative;
  overflow: hidden;

  border: 1px solid #bfbfbf;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: height .4s ease-in-out;
  transition:         height .4s ease-in-out;
}

.vis.timeline .vpanel {
  position: absolute;
  overflow: hidden;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
