.vis.timeline .axis {
    position: relative;
}

.vis.timeline .axis .text {
    position: absolute;
    color: #4d4d4d;
    padding: 3px;
    white-space: nowrap;
}

.vis.timeline .axis .text.measure {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    visibility: hidden;
}

.vis.timeline .axis .grid.vertical {
    position: absolute;
    width: 0;
    border-right: 1px solid;
}

.vis.timeline .axis .grid.horizontal {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid;
}

.vis.timeline .axis .grid.minor {
    border-color: #e5e5e5;
}

.vis.timeline .axis .grid.major {
    border-color: #bfbfbf;
}
