body {
    font-family: Lustria,Georgia,Times,"Times New Roman",serif !important;
    background: url('../img/crossword.png') /* Background pattern from subtlepatterns.com */
}

div.contentWrapper {
    padding:10px;
}
div.navbar-wrapper {
    background-color:#07508E;
    border-bottom: 3px solid #ffffff;
    font-size:16px;
}


pre {
    width:450px;
    height:552px;
    overflow:auto;
}
#visualization {
    display:block;
    margin-left:470px;
    margin-top:-562px;
    width:500px;
    height:552px;
    border: 1px solid #dddddd;
    border-radius:4px;
    background-color:#fcfcfc;
}

div.textHTMLContent {
    margin-top:10px;
    margin-bottom:10px;
    display:block;
    width:800px;
}


img.example {
    border:1px solid #dddddd;
    width:250px;
    height:250px;
    border-radius:10px;
    margin-top:10px;
}
div.exampleTitle {
    position:relative;
    top:-7px;
    width:100%;
    max-width:250px;
    height:30px;
    border: 1px solid #dddddd;
    background-color: #526b84;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
    line-height: 30px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
