
html {
    height:100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    /*font-family: Lustria, Georgia, Times, "Times New Roman", serif !important;*/
    height:100%;
    font-size:16px;
    background: url('../img/crosswordStrong.png') /* Background pattern from subtlepatterns.com */
}

img.icon {
    position:relative;
    top:-2px;
}


div.navbar-wrapper {
    background-color:#07508E;
    border-bottom: 3px solid #ffffff;
    font-size:16px;
}

div.blogHeader {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:910px;
    padding: 0px 30px 0px 30px;
    margin-top:-150px;
    color:#ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    margin-bottom:60px;

}

div.full {
    min-height:100%;
    box-shadow:0px 2px 10px rgba(0,0,0,0.4);
    padding-left:20px;
    padding-right:20px;
    background-color:#ffffff;
}

table.moduleTable {
    border:1px solid #eeeeee;
    font-size:14px;
    margin-left:20px;
    max-width: 900px;
}

table.moduleTable td{
    min-width: 80px;
    padding:2px 5px 2px 5px;
    height:35px;
}

table.moduleTable tr{
    border:1px solid #eeeeee;
    vertical-align: top;

}

tr.header {
    color: #1f3350;
    background-color: #cccccc;
    border-bottom:1px solid #999999 !important;
    font-size:16px;
    font-style:italic;
}

td.mid {
    background-color: #f7f7f7;
    font-style:italic;
}

td.properties {
    width:150px;
}

p {
    min-width:400px;
    max-width:1000px;
}


pre.code {
    padding:2px 4px;
    font-size:90%;
    color:#c7254e;
    background-color:#f9f2f4;
    border-radius:4px;
    border:0px;
}

tr.hidden {
    max-height:0;
    /*max-height: 0;*/
    overflow: hidden;
}

tr.visible {
    /* Set our transitions up. */
    -webkit-animation:
    fadeIn 250ms ease-in;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


span.caret {
    opacity: 0.5;
}

span.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    width: 0;
    margin-left:5px;
    margin-top:6px;
}

tr.toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}



tr.toggle.collapsible {
    background-color: #f7f7f7;
    border-left: 3px solid #89b3ff;
}

td.indent {
    padding-left:25px !important;
}


td.indent2 {
    padding-left:50px !important;
}

td.name {
    width:230px;
}

td.nameSmall {
    width:150px;
}

td.type {
    width: 110px;
}

td.default {
    width:60px;
}

td.eventProperties {
    width:350px;
}

td.methodName {
    width:250px;
}

pre.options {
    max-width:500px;
}