div.graph-manipulationDiv {
    border-width:0px;
    border-bottom: 1px;
    border-style:solid;
    border-color: #d6d9d8;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(48%,#fcfcfc), color-stop(50%,#fafafa), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 48%,#fafafa 50%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 48%,#fafafa 50%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 48%,#fafafa 50%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 48%,#fafafa 50%,#fcfcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */

    width: 600px;
    height:30px;
    z-index:10;
    position:absolute;
}

div.graph-manipulation-editMode {
    height:30px;
    z-index:10;
    position:absolute;
    margin-top:20px;
}

div.graph-manipulation-closeDiv {
    height:30px;
    width:30px;
    z-index:11;
    position:absolute;
    margin-top:3px;
    margin-left:590px;
    background-position: 0px 0px;
    background-repeat:no-repeat;
    background-image: url("img/network/cross.png");
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.graph-manipulationUI {
    font-family: verdana;
    font-size: 12px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display:inline-block;
    background-position: 0px 0px;
    background-repeat:no-repeat;
    height:24px;
    margin: -14px 0px 0px 10px;
    vertical-align:middle;
    cursor: pointer;
    padding: 0px 8px 0px 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.graph-manipulationUI:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.20);
}

span.graph-manipulationUI:active {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.50);
}

span.graph-manipulationUI.back {
    background-image: url("img/network/backIcon.png");
}

span.graph-manipulationUI.none:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
    cursor: default;
}
span.graph-manipulationUI.none:active {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
}
span.graph-manipulationUI.none {
    padding: 0px 0px 0px 0px;
}
span.graph-manipulationUI.notification{
    margin: 2px;
    font-weight: bold;
}

span.graph-manipulationUI.add {
    background-image: url("img/network/addNodeIcon.png");
}

span.graph-manipulationUI.edit {
    background-image: url("img/network/editIcon.png");
}

span.graph-manipulationUI.edit.editmode {
    background-color: #fcfcfc;
    border-style:solid;
    border-width:1px;
    border-color: #cccccc;
}

span.graph-manipulationUI.connect {
    background-image: url("img/network/connectIcon.png");
}

span.graph-manipulationUI.delete {
    background-image: url("img/network/deleteIcon.png");
}
/* top right bottom left */
span.graph-manipulationLabel {
    margin: 0px 0px 0px 23px;
    line-height: 25px;
}
div.graph-seperatorLine {
    display:inline-block;
    width:1px;
    height:20px;
    background-color: #bdbdbd;
    margin: 5px 7px 0px 15px;
}