<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta name="title" content="vis.js">
    <meta name="description" content="vis.js is a dynamic, browser-based visualization library" />
    <meta name="keywords" content="vis, visualization, javascript, browser based, web based, chart, linechart, timeline, graph, network, browser" />
    <meta name="author" content="Almende B.V.">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>vis.js | a dynamic, browser-based visualization library</title>
</head>

<body>


<div id="container">

    <div id="menu">
        <div id="menu-inner">

            <a href="http://visjs.org/"><img src="img/logo/vis128.png" alt="logo"></a>
            <br>
            <!-- TODO: menu
                        <div class="nav">
                            <ul>
                                <li>
                                    Vis
                                    <ul>
                                        <li><a class="nav" href="index.html">Overview</a></li>
                                        <li><a class="nav" href="downloads.html">Downloads</a></li>
                                    </ul>
                                </li>

                                <li>
                                    Components
                                    <ul>
                                        <li><a class="nav" href="graph.html">Graph</a></li>
                                        <li><a class="nav" href="graph3d.html">Graph3D</a></li>
                                        <li><a class="nav" href="network.html">Network</a></li>
                                        <li><a class="nav" href="timeline.html">Timeline</a></li>
                                        <li><a class="nav" href="treegrid.html">TreeGrid</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
            -->
        </div>
    </div>

    <div id="contents">
        {{ content }}
    </div>
</div>

<a id="forkme" href="https://github.com/almende/vis/" target="_blank">
    <img src="img/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" >
</a>

</body>
</html>
